@font-face{

    font-family: 'fo';
    src: url(../assets/fonts/Typo\ Formal\ Italic\ Demo.otf)
}
*{
    font-family: 'fo';
}


.borde-up{
    background-color: rgb(96, 160, 255);
    width: 100%;
    height: 40px;
    padding: 10px;
}
.borde-up p{
    color: white;
    width: 350px;
    text-align: center;
    align-content: center;
}
.t {
    display: grid;
    height: 200px;
    grid-template-columns: 30% 70%;
    margin-top: 10px;
    margin-bottom: 20px;
}



.us {
    width: 90%;
    margin: 0px auto; 
    
}
.us div{
    width: 50%;
    height: 90%;
    margin: 10px auto;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: aqua;
    border-width: 5px;
    border-style: groove;
    
}

.t .us .fas{
    margin-top: 40px;
    border-radius: 30px;
    font-size: 50px;
    opacity: 0.2;
}
.t .us p{
    font-size: 30px;
    opacity: 0.2;
}


.titulo {
    display: flex;
    align-items: center;
    margin: 0px auto;
}

header .t h1 {
    width: 400px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    
}





.formulario{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}


.datos-p{
    width: 90%;
    margin: 0px auto;
    padding: 10px;
}

.datos-p form h2 {
    text-align: center;
    margin-bottom: 20px;
}



.descrip{
    height: 150px;
    border-radius: 50px;
    width: 90%;
    margin: 0px auto;
   
}

.d input::placeholder{
    text-align: center;
    font-size: 50px;
    
}

.datos-p input::placeholder{
    color: #000000;
    opacity: 0.5;
}

.datos-p input.fe{
    color: #000000;
    opacity: 0.5;
}

.datos-p input.fe:hover{
    color: #023f46;
    opacity: 1;
}

input:hover::placeholder{
    color: #023f46;
    opacity: 1;
}





footer address{  
    text-align: center;
    align-items: center;

}

.fab {
    font-size: 35px;
    color: white;
    
}
.fa-facebook-square{
    background: #000000;
    width: 35px;
    border-radius: 5px;
    
}
.fa-facebook-square:hover{
    background: #250dfcc1;
}
.fa-twitter-square{
    background: rgb(0, 0, 0);
    width: 35px;
    border-radius: 5px;
}
.fa-twitter-square:hover{
    background: rgb(0, 161, 248);
}

.fa-instagram{
    background-color: black;
    width: 35px;
    border-radius: 5px;
}

.fa-instagram:hover {
    background: linear-gradient(to top right,#FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    width: 35px;
    border-radius: 5px;
}

